﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model WebShopDig.Models.URegister


@using (Ajax.BeginForm("Index",
    "Login",
    FormMethod.Post,
    new AjaxOptions { UpdateTargetId = "clear" },
    new { @id = "LoginForm" }))
{
    <div class="registration">
        <h2>Registration Form</h2>
        <form>
            <div class="form-info">
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "text", @type = "Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "text" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div class="text-danger">@Html.ValidationSummary(true)</div>
            </div>
            <input type="submit" value="Login">
        </form>
        <div class="clear"> </div>
    </div>


}



@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

}
