﻿
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@model WebShopDig.Models.ULaptop

@using (Ajax.BeginForm("CreateProduct", "AdminService", FormMethod.Post,
                    new AjaxOptions { UpdateTargetId = "update_panel" },
                    new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ProductID, new { placeholder = "PRODUCT_id", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Marca laptop</label>
        <div class="col-md-4">

            @Html.DropDownListFor(m => m.Mark, new SelectList(Model.Mark.ToList(),"ID","MarkName"),
        "- Select the Author -")
            @* Need to set  TypeOfDevices *@
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Numele modelului</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.NameModel, new { placeholder = "Name Model", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">TipulProcesorului</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Processor, new { placeholder = "Type Procesor", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Fregventa procesorului</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Frequency_processor, new { placeholder = "Frequency Processor", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Model memoriei RAM </label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ModelRam, new { placeholder = "Model Ram", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Capacitatea memoriei RAM</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.CapacityRam, new { placeholder = "RAM capacity", @class = "form-control input-md", @type = "text" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">Cantitatea in stoc</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Cantitate, new { placeholder = "Cantitate", @class = "form-control input-md", @type = "text" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="filebutton">Incarca imaginea</label>
        <div class="col-md-4">
            <input id="ImagePath" name="file" class="input-file" type="file">
        </div>
    </div>

    <p><input type="submit" value="Create" />Create</p>

}

