﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebShopDig.Models.URegister


@using (Ajax.BeginForm("Register",
    FormMethod.Post,
    new AjaxOptions { UpdateTargetId = "clear" },
    new { @id = "RegForm" }))
{
<div class="registration">
    <h2>Registration Form</h2>
    <form>
        <div class="form-info">
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "text", @type = "Username" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "text" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Rpassword, new { placeholder = "Repeat Password", @class = "text" })
            @Html.ValidationMessageFor(m => m.Rpassword, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "text" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Contact, new { placeholder = "Contact", @class = "text" })
            @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })

        </div>
        <input type="submit" value="REGISTER">
    </form>
    <div class="text-danger">@Html.ValidationSummary(true)</div>
    <div class="clear"> </div>

</div>



}



@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

}